<%= render 'shared/header'%>

  <div class="room-contents-all">
    <div class="room-contents">
      <h1 class="post-title">うまうま掲示板</h1>
        <h2 class="thread">スレッド一覧</h2>
        <div class="new-room">
        <a href="#" class="new-rooms">新規スレッド作成</a></div>
        <div class="rooms">
          <div class="room">
            <div class="room-title"><a href="#">馬券討論会</a></div>
            <div class="last-create">最終投稿日時:10/19 12:35</div>
          </div>
          <div class="room">
            <div class="room-title"><a href="#">フィエールマンの今後について考える</a></div>
            <div class="last-create">最終投稿日時:10/19 12:35</div>
          </div>
          <div class="room">
            <div class="room-title"><a href="#">横山典弘という男</a></div>
            <div class="last-create">最終投稿日時:10/19 12:35</div>
          </div>
        </div>
    </div>
    </div>
