.main-title {
  font-family: Georgia, 'Times New Roman', Times, serif;
  position: relative;
  color: #00a02e;
  font-size: 30px;
  padding: 1rem 0;
	font-weight: 700;
  letter-spacing: 3px;
  color:black;
  text-decoration: none;
  }
  
.main-title:after {
  display: block;
  content: "";
  height: 5px;
  background: -moz-linear-gradient(to right, rgb(10, 350, 20), transparent);
  background: -webkit-linear-gradient(to right, rgb(10, 350, 20), transparent);
  background: linear-gradient(to right, rgb(10, 350, 20), transparent);
  }

.post-contents{
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: center;
  padding-top: 30px;
}

/* umastagramタイトル部分-------------- */
.post-title-main{
  display: flex;
padding: 0 100px;
align-items: center;
margin-bottom: 50px;
}

.new-photo{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: solid 3px skyblue;
}

.post-prf-img{
  border-radius: 50%;
  width:  100px;
  height: 100px;
}

.uma-contents-top{
  display: flex;
    padding: 0 30px 0;
    border: 3px solid #ccc;
    border-radius: 3em .7em 2em .7em/.7em 2em .7em 3em;
    margin: 0 auto;
    width: 700px;
    align-items: center;
    justify-content: space-between;
  }

.uma-title{
  font-family: 'Brush Script MT',sans-serif;
  font-size: 70px;
}

.uma-search

.search-btn{
  box-sizing: border-box;
  position: relative;
  border: 1px solid #999;
  display: block;
  padding: 3px 10px;
  border-radius: 20px;
  height: 2.3em;
  width: 260px;
  overflow: hidden;
}
.search-btn input[type="text"]{
  border: none;
  height: 2.0em;
}
.search-btn input[type="text"]:focus {
  outline: 0;
}
.search-btn input[type="submit"]{
  cursor: pointer;
  font-size: 1.3em;
  border: none;
  background: none;
  color: #3879D9;
  position: absolute;
  width: 2.5em;
  height: 2.5em;
  right: 0;
  top: -10px;
  outline : none;
}

/* 投稿された画像部分------------------ */
.uma-contents-bottom{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.post-user-name{
  padding: 5px;
  font-weight: bold;
}

.content-image{
  width: 400px;
  height: 450px;
  object-fit: contain;
}

.uma-content{
  border: solid 1px lightgray;
  margin: 0 0 30px 30px;
  }

.ume-comment{
  margin-left: 10px;
}

.ume-comment-details{
  text-align: center;
  color: lightgray;
  font-size: small;
}

